<div class = "row">
<h2>GeoPredict</h2>
Data is the primary driver of the digital economy and the world’s most valuable commodity. While it is well understood how to capture and store data from Internet-connected sources, processing it is less clear—lots of data goes to waste. One data set which is particularly difficult to process is geolocation data (a set of GPS coordinates of a user device as it moves through space). Enter GeoPredict, a machine learning model I developed on the Spark platform during my time as a research associate at Western University. GeoPredict mines value from massive sets of geolocation data collected on a continuous basis by applying A.I techniques from the field of natural language processing. 
</div>
<div class = "row pt-5">
<h2>CAPSTONE: Spark Recommender Microservice Framework for Big Data</h2>

<p>Once I finished my summer research effort (GeoPredict) I wondered how to deploy the model into a production environment and make it scale. What I came up with is a framework for deploying scalable recommender systems built on spark as web-accessible microservices. Through the use of containerization, the implementation of a restFULL API and sophisticated integrated command-line tooling, I designed this framework to be highly usable, portable, customizable and interoperable. The framework is meant to allow data scientist to focus on building ML models instead of worrying about managing clusters and dealing with pesky configuration. </p>
</div>
<div class = "row pt-5">
<h2>Unity Minigame Suite</h2>
<p>During my second year of study, I was tasked with constructing several mini-games with Unity3D and creating a portal for accessing them with an account system. The system I developed features cloud save and global leaderboards built with a primitive LAMP architecture.<p></p>
<p>Go ahead and try it out yourself. Please be patient upon initial load. To make an account login as an administrator with user account and password: "admin".</p>
</div>

<a class="btn btn-primary" href="https://www.pudpie.com/ugames/play.html" role="button">Launch Unity Minigame Suite</a>

