<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #ffffff;">
    <a class="navbar-brand" href="#">EC</a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault" [collapse]="isCollapsed">
      <ul class="navbar-nav ml-auto pr-5"> <!--margin left auto pading right 5(level)*$spacing-->
        <li class="nav-item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']"><a class="nav-link" routerLink="/home">Home</a></li>
        <li class="nav-item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']"><a class="nav-link" routerLink="/projects">Projects</a></li>
        <li class="nav-item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']"><a class="nav-link" routerLink="/experience">Work Experience</a></li>
        <li class="nav-item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']"><a class="nav-link" routerLink="/skills">Skills</a></li>
        <li class="nav-item" (click)="isCollapsed = !isCollapsed" [routerLinkActive]="['active']"><a class="nav-link" routerLink="/blog">Blog</a></li>
      </ul>
  
     
    </div>
  </nav>


  <router-outlet></router-outlet>
