<div class="row align-items-center betterFont" style="min-height: 85vh;">
    <div class="col-sm-6 pt-5  ">
        <div class="text-center">
            <h1>Evan Cole</h1>
            <p class="lead">Software Engineer</p>
            <p>Big Data, Machine Learning, Web Development</p>
        </div>
    </div>
    <div class="col-sm-4">
         <div class="text-center">
            <p>Thanks for stopping by. View my projects, learn about me and check out the blog</p>
                        
        </div>
    </div>
</div>

{{outlet}}