<div class="row align-items-center betterFont" style="min-height: 85vh;">
    <div class="col-sm-6 pt-5  ">
        <div class="text-center">
            <h1>Evan Cole</h1>
            <p class="lead">Software Engineer</p>
            <p>Big Data, Machine Learning, Web Development</p>
        </div>
    </div>
    <div class="col-sm-4">
        <img src="img/evan.png" class=" img-fluid mx-auto d-bloc" alt="Evan Cole" style="max-width:90%">
    </div>
</div>

{{outlet}}