<div class="row align-items-center homebanner">
    <div class="col-sm-6 pt-5  ">
        <div class="text-center">

                 <h1>Evan Cole</h1>
         
           
            <p class="lead">Software Engineer</p>
            <p>Big Data, Machine Learning, Web Development</p>
        </div>
    </div>
    <div class="col-sm-6">
         
            <img src="img/evan.png" class="img-fluid mx-auto d-bloc" alt="Evan Cole">
                        
  
    </div>
</div>




<div class="row mb-5 pt-5 betterfont">
  
     
            <p><div class = "textlead">How does it work and how can it work better?</div> This has been the passion from the moment I first turned on my first computer.</p>
                <p>From machine learning, to cluster computing, to microprocessor architecture I am on a quest to satisfy my intellectual curiosity and push the boundaries of what is possible.</p>
<p>On the way, I relish in learning from and empowering my peers through instante collborarion. I particularly enjoy communicating my work in forums big and small- from my technical blog to presenting on stage I am thrilled.</p>

<p>While I am highley technical I am also pragmatic. I obsess over solutions that bring value and drive business goals. For as much as a like to obsess over transistor sized details I like to look at stars and see the big picture.</p>

<p>While I am passionate about technology I bring my passionate nature to all my other downtime pursuits. Health and fitness, DIY and general adventure just to name a few. </p>


    
   
   
</div>

{{outlet}}