
<div class="row align-items-center homebanner">
    <div class="col-sm-6 pt-5 pb-5  ">
        <div class="text-center">

                 <h1>Evan Cole</h1>
         
           
            <p class="lead"> BESc. Software
            </p>
            <p>Cloud Solutions Engineer</p>
        </div>
    </div>
      <div class="col-sm-4">
         
            <img src="img/evan.png" class="img-fluid mx-auto d-bloc" alt="Evan Cole">
                   

                        
  
    </div>
  
</div>






{{outlet}}
