<div class="jumbotron jumbotron-fluid ">
    <div class="row pt-7 align-items-center ">
       
        <div class="col-sm-6 pt-5  " >
            <div class = "text-center">
                <h1>Evan Cole</h1>
          <p class="lead">Software Engineer</p>
          <p>Big Data, ML, Hardware Design</p>
              </div>
        
        </div>
        <div class="col-sm-4 " >
            <img src="assets/img/evan.png"  class=" img-fluid mx-auto d-block" alt="Responsive image">
           
        </div>
      </div>
  </div>

  