

  <div class="card mb-5 br-lg">

    <div class="card-body">
      <div class="row">
    
        {{#each model as |post |}}
          <div class="col-md">
            <div class="card mb-5">
              <img class=" card-img-top" src="img/blog/{{series.title}}/badge{{better-link}}.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
            
              </div>
              
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

{{outlet}}