<div class="card">
    <div class="card-header">
        <h1>{{model.this_post.title}}</h1>
    
    </div>
    <div class="card-body">
        {{{model.this_post.body}}}
    </div>
   
</div>
{{outlet}}